$primaryColor: rgb(0, 0, 161);
$secondaryColor: grey;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "_navbar.scss";
@import "_createpage.scss";
@import "_invoice.scss";
@import "_form.scss";
@import "_bar.scss";
@import "homepage.scss";

main.page {
  width: 96%;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .navbar,
  body {
    background-color: #111;
    color: white;
  }
}
