@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.navbar {
  width: 100%;
  background-color: #0000a1;
  color: white;
  padding: 1.5rem;
  margin-bottom: 3vh;
}

.navTitle {
  color: inherit;
}

.navbarWrapper {
  width: 94%;
  margin: 0 auto;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbarWrapper ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .navbarWrapper button {
  display: none;
  cursor: pointer;
  font-size: 1.75rem;
  width: 2rem;
  height: 2rem;
  border: none;
  background: var(--primaryColor);
  color: white;
}

.navbar a {
  text-decoration: none;
  color: inherit;
}

@-webkit-keyframes fadein {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0.05;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {
  .navbarWrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .navbarWrapper ul {
    position: relative;
    margin: -2rem 0;
    width: 100%;
    height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: none;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .navbarWrapper ul li {
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
    -webkit-animation: fadein 0.5s forwards;
            animation: fadein 0.5s forwards;
  }
  .navbar .navbarWrapper button {
    display: initial;
    z-index: 1;
  }
}

.showLinks {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

@media (prefers-color-scheme: dark) {
  .navbar {
    background-color: #111;
    border-bottom: #222 solid .25rem;
  }
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  width: 100%;
  gap: 2rem;
}

@media (max-width: 768px) {
  .container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 0rem;
  }
}

.invoice-form {
  width: 100%;
  margin: 2vh 0;
}

.invoice {
  background-color: white;
  color: #111;
  width: 100%;
  height: 100%;
  padding: 0.8rem;
}

.invoice ul {
  list-style: none;
}

.invoice.view {
  border: 1px solid black;
  padding: 1rem;
}

.invoice-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.invoice-header h2 {
  margin: 2vh 0;
}

.invoice-header ul {
  list-style: none;
}

.invoice-header ul li {
  margin: 0.2vh 0;
}

.invoice-details {
  margin: 0 0 2vh;
}

table {
  margin: 7.5vh 0;
  width: 100%;
  text-align: left;
}

table tr {
  height: 2rem;
}

table .hide-on-show {
  display: block;
}

table .hide-on-show.true {
  display: none;
}

@media (max-width: 768px) {
  .invoice-form {
    width: 100%;
    margin: 2vh 0;
    border-color: white;
    border-radius: 4px;
  }
}

.formControl label {
  display: block;
  margin: 1vh 0;
}

.formControl label,
.formControl input {
  width: 60%;
}

.formControl input {
  padding: 4px;
}

.form-buttons {
  width: 100%;
  margin: 3vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.25rem;
}

.form-buttons > button,
.submit-btn {
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 5px;
  background: none;
  border: 1px solid black;
}

.submit-btn {
  width: 100%;
  margin: 2vh auto;
}

.form-section input,
.form-section label {
  width: 100%;
}

.form-section label {
  padding: 6px;
}

.hideForm {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .form-buttons > button,
  .submit-btn {
    border-color: white;
    color: white;
  }
  .formControl input {
    background: white;
  }
}

.bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 0.5%;
}

.bar > button {
  cursor: pointer;
  padding: 5px;
  background: 0;
  border: 1px solid black;
  margin-bottom: 1vh;
}

@media (prefers-color-scheme: dark) {
  .bar > button {
    background-color: #111;
    color: white;
    border: white 1px solid;
  }
}

.index-header {
  display: block;
  text-align: center;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  margin: 3vh 0;
}

.index-header h1,
.index-header a {
  margin: 3vh 0;
}

.app-doc {
  font-family: "Inter", sans-serif;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1rem;
  text-transform: capitalize;
  margin-bottom: 5rem;
}

.app-doc article {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.app-doc article h2 {
  width: 100%;
  text-align: center;
  margin: auto;
}

.app-doc article img {
  width: 50%;
  display: initial;
}

.app-doc article:nth-child(2) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer {
  margin: 3vh 0;
  text-align: center;
}

@media (max-width: 768px) {
  .app-doc article {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
  }
  .app-doc article h2 {
    margin: 3vh 0;
  }
  .app-doc article img {
    width: 100%;
  }
  .app-doc article:nth-child(2) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main.page {
  width: 96%;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .navbar,
  body {
    background-color: #111;
    color: white;
  }
}
/*# sourceMappingURL=globals.css.map */